# /qompassai/nix/.gitignore
# Qompass AI Nix Gitignore
# Copyright (C) 2025 Qompass AI, All rights reserved
################################################### 
.pre-commit-config.yaml
.direnv
tmp
result
latest.iso
texput.log
